.usuario-td{
    cursor: pointer;
}

.usuario-input{
    width: 60%;
    border: 0px solid transparent;
    border-bottom: 1px solid rgb(154, 163, 165);
    color: rgb(154, 163, 165);
    font-style: italic;
    transition: all .3s ease;
    outline: none;
}
.usuario-input:focus{
    width: 80%;
}
.usuario-lupa{
    bottom: 15px;
    padding: 5px;
    transition: all .2s ease;
}
.usuario-lupa:hover{
    padding: 3px;
}
.usuario-new-button{
    width: 65%;
    transition: all .2s ease;
}
.usuario-new-button:hover{
    width: 72%;
}
.usuario-h2:hover{
    cursor: pointer;
}
.usuario-img{
    animation: usuario-img 30s infinite;
}

@keyframes usuario-img{
    0%{transform: scale(1)}
    25%{transform: scale(1.3)}
    50%{transform: rotate(1);}
    75%{transform: rotate(180deg);}
    100%{transform: rotate(0deg);}
}

@media (min-width: 320px) {
    .usuario-table{
        font-size: 0.75rem;
    }
}
@media (min-width: 576px) {
    .usuario-table{
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) { 
    .usuario-table{
        font-size: 0.5rem;
    }
    .usuario-img{
        width: 130px;
    }
    .usuario-top h2{
        font-size: 1.5rem;
    }
    .usuario-top{
        font-size: .75rem;
    }
    .usuario-new-button{
        font-size: 0.8rem;
    }
    .usuario-bottom{
        font-size: .6rem;
    }
}

@media (min-width: 992px) { 
    .usuario-table{
        font-size: 0.8rem;
    }
    .usuario-img{
        width: 200px;
    }
    .usuario-top h2{
        font-size: 1.8rem;
    }
    .usuario-top{
        font-size: .85rem;
    }
    .usuario-new-button{
        font-size: 0.9rem;
    }
    .usuario-bottom{
        font-size: .75rem;
    }

}